@use '../../styles/abstracts' as *;

#footer {
    display: flex;
    flex-direction: column;
    row-gap: $spacing-md;
    border-top: 1px solid #e5e5e5;
    padding-top: $spacing-md;

    .footer-top-section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;

        .item-introduction {
            p {
                margin-left: $spacing-xs;

                img {
                    border-radius: $spacing-sm + 50px;
                    background-color: $light-primary-bg-color;
                }

                .introduction-img {
                    float: left;
                    height: 70px;
                    margin: 0 12px 2px 0;
                    border-radius: $spacing-xl + 10px;
                }
            }
        }

        .item-technology {
            ul {
                margin-left: $spacing-xs - 1px;

                li {
                    list-style: square;
                    margin-bottom: $spacing-xs - 4px;
                    margin-left: $spacing-lg;

                    a {
                        color: $light-primary-font-color;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .item-resources {
            ul {
                margin-left: $spacing-xs - 1px;

                li {
                    list-style: square;
                    margin-bottom: $spacing-xs - 4px;
                    margin-left: $spacing-lg;

                    a {
                        color: $light-primary-font-color;
                        text-decoration: none;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .item-contact-details {
            .contact-items {
                .contact-item {
                    margin-bottom: $spacing-md;

                    .item {
                        display: flex;
                        flex-direction: column;
                        row-gap: 10px;
                        padding-left: $spacing-xs;

                        a {
                            color: $light-primary-font-color;
                            text-decoration: none;

                            &:hover {
                                text-decoration: none;
                            }
                        }

                        .contact-pages {
                            display: flex;
                            flex-direction: row;
                            column-gap: $spacing-md;

                            i {
                                font-size: $font-size-lg;
                                color: $comp-default-font-color
                            }
                        }
                    }
                }
            }
        }

        .footer-item {
            text-align: left;
            min-width: 25%;
            border-radius: $spacing-xs;

            .footer-item-title {
                margin-bottom: $spacing-xs + 4px;
                @include heading-light;
            }
        }

        //floating WhatsApp button
        .whats-app-btn {
            position: fixed;
            width: 50px;
            height: 50px;
            bottom: 23px;
            right: 15px;
            background-color: #25d366;
            color: white;
            border-radius: 50px;
            text-align: center;
            box-shadow: $light-hover-box-shadow;
            z-index: 100;
            padding: 3px;

            .whats-app-icon {
                font-size: 30px;
                margin: auto;
            }
        }
    }

    .footer-bottom-section {
        background-color: $light-secondery-bg-color;
        padding: $spacing-sm;
        font-size: $font-size-sm + 2px;
        border-radius: $spacing-xs;
    }

    //media queries for responsive design
    @include respond-to("pro-sm") {
        .footer-top-section {
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 15px;

            .item-resources {
                display: none;
            }
        }

        .footer-bottom-section {
            font-size: $font-size-sm;
        }
    }

    @include respond-to("pro-xs") {
        .footer-top-section {
            grid-template-columns: 1fr 1fr;

            .item-resources,
            .item-technology {
                display: none;
            }
        }
    }

    @include respond-to("xs") {
        border-top: none;

        .footer-top-section {
            grid-template-columns: 1fr;
            row-gap: 0px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            font-size: $font-size-md;

            .item-introduction {
                padding: 35px 0;

                p {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 25px;

                    img {
                        margin: 20px 0;
                    }

                    .introduction-img {
                        height: 110px;
                        border-radius: $spacing-xl + 25px;
                    }
                }

            }

            .item-resources,
            .item-introduction,
            .item-technology {
                display: none;
            }


            .footer-item {
                text-align: center;
                padding: 0px;
                margin: 0px;

                .contact-items {
                    .contact-item {
                        .item {
                            justify-content: center;
                            row-gap: 8px;
                        }
                    }
                }
            }
        }
    }

}