@use '../../styles/abstracts' as *;

// layout/_grid.scss
.site-grid-container {


  grid-template-columns: 1fr;
  grid-template-areas: "header"
                       "navbar"
                       "main-content"
                       "footer";

  .grid-area-header,
  .grid-area-navbar,
  .grid-area-main-content,
  .grid-area-footer {
    height: auto;
  }

  .grid-area-header {
    grid-area: header;
  }

  .grid-area-navbar {
    grid-area: navbar;
     z-index: 100;
    padding: 0;
  }

  .grid-area-main-content {
    grid-area: main-content;
    padding: 0;
  }

  .grid-area-footer {
    grid-area: footer;
    padding: 0;
  }

}
