@use '../../styles/abstracts' as *;
.site-grid {

  grid-template-columns: 1fr;
  grid-template-areas: "navbar"
                       "header"
                       "main"
                       "footer";

  .grid-area-header,
  .grid-area-navbar,
  .grid-area-main,
  .grid-area-footer {
    height: auto;
  }

  .grid-area-header {
    grid-area: header;
  }

  .grid-area-navbar {
    grid-area: navbar;
     z-index: 100;
    padding: 0;
  }

  .grid-area-main {
    grid-area: main;
    padding: 0;
  }

  .grid-area-footer {
    grid-area: footer;
    padding: 0;
  }

}
