@use '../../styles/abstracts' as *;

#header-container {
    padding: 10px 0 30px;
    border-bottom: 1px solid rgb($gray-500, 0.4);

    .site-identity {
        display: flex;
        flex-direction: column;
        column-gap: 8px;
        align-items: flex-start;
        cursor: pointer;
        padding-left: 5px;

        .site-name {
            display: flex;
            column-gap: 8px;
            font-weight: 700;
            text-transform: capitalize;
            font-size: $size-lg;
            align-items: center;

            .site-logo {
                img {
                    height: 50px;
                }
            }

            .first-title-word {
                font-weight: normal;
            }
        }
    }

    .statement {
        margin: 0 12px;
        padding: 5px 0;
    }

    @include device-view-point("sm-max") {
        padding: 5px 0 15px;

        .site-identity {

            .site-name {
                font-weight: 700;
                font-size: $size-md;

                .site-logo {
                    img {
                        height: 45px;
                    }
                }
            }
        }

    }

}