@use '../../styles/abstracts' as *;

#header-container {
    padding: 10px 0 30px;
    border-bottom: 1px solid rgb($gray-500, 0.4);

    .site-identity {
        display: flex;
        flex-direction: column;
        column-gap: 8px;
        align-items: flex-start;
        cursor: pointer;
        padding-left: 10px;

        .site-name {
            display: flex;
            column-gap: 8px;
            font-weight: 700;
            text-transform: capitalize;
            font-size: $size-lg;

            .site-logo {
                img {
                    height: 50px;
                }
            }
        }
    }

    .statement {
        margin: 0 12px;
        padding: 5px 0;
    }

}