@use '../../styles/abstracts' as *;

#header-container {
    padding-bottom: 20px;
    text-transform: capitalize;
    border-bottom: 1px solid rgb($gray-500, 0.4);

    .site-identity {
        display: flex;
        column-gap: 8px;
        font-size: $size-lg;
        align-items: center;

        .site-logo {
            font-size: $size-xxl;
        }

        .site-name {
            display: flex;
            column-gap: 8px;
            font-weight: 100;
        }
    }
    
    .statement {
        margin: 0 5px;
        padding: 5px 0;
    }

}