@use '../../styles/abstracts' as *;

.site-grid {

  background-color: #464646;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  // background-image: url('../../../public/bg-desktop/1.jpg');
  // background-position: 25%;

  background-image: url('../../../public/bg-desktop/14.jpg');
  // background-position: 5%;

  display: grid;
  row-gap: 40px;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar"
    "header"
    "pinned-weather"
    "main"
    "footer";

  .grid-area-header,
  .grid-area-navbar,
  .grid-area-pinned-weather,
  .grid-area-main,
  .grid-area-footer {
    height: auto;
    margin: 0px 15px;
  }

  .grid-area-header {
    grid-area: header;
 
  }

  .grid-area-navbar {
    grid-area: navbar;
    padding: 0;
    margin: 0;
  }

  .grid-area-pinned-weather {
    grid-area: pinned-weather;
    // padding: 0;
  }

  .grid-area-main {
    grid-area: main;
    padding: 0 0 25px 0;
    border-top: 1px solid rgb($gray-400, 0.4);
  }

  .grid-area-footer {
    grid-area: footer;
    padding: 30px 0;
    background-color: rgb($black , 0.8);
    margin: 0;
  }

  @include device-view-point("md") {
    background-position: 22%;
  }

  @include device-view-point("sm-max") {
    background-position: 24%;
    row-gap: 20px;

  }

   @include device-view-point("sm") {
    background-position: 28%;
  }

}