@use '../../styles/abstracts' as *;
.site-grid {

  display: grid;
  row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas: "navbar"
                       "header"
                       "pinned-weather"
                       "main"
                       "footer";

  .grid-area-header,
  .grid-area-navbar,
  .grid-area-pinned-weather,
  .grid-area-main,
  .grid-area-footer {
    height: auto;
    margin: 0 15px;
  }
  

  .grid-area-header {
    grid-area: header;
  }

  .grid-area-navbar {
    grid-area: navbar;
    padding: 0;
    margin: 0;
  }

  .grid-area-pinned-weather {
    grid-area: pinned-weather;
    padding: 0;
  }

  .grid-area-main {
    grid-area: main;
    padding: 0 0 25px 0;

    border-bottom: 1px solid rgb($gray-400, 0.2);
  }

  .grid-area-footer {
    grid-area: footer;
    padding: 0;
  }

}
