@use '../../styles/abstracts' as *;

$primary: #0d1b2a;
$light: #ecf0f1;
$breakpoint: 480px;

#main-navbar {
    border: none;
    background-color: rgb($blue-900 , 1);
    border-radius: 0;
    margin: 0;
    text-transform: capitalize;

    .navbar {

        color: $light;
        padding: 1.2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        font-size: $size-sm;
        border-radius: 0;

        i {
            display: none;
        }

        &__toggle {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 22px;
            width: 25px;
            background: none;
            border: none;
            cursor: pointer;

            .bar {
                height: 3px;
                width: 100%;
                background-color: lightgray;
                transition: all 0.3s ease;
            }

            @media (min-width: $breakpoint) {
                display: none;
            }
        }

        &__menu {
            list-style: none;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            background-color: rgb($blue-900, 1);
            
            flex-direction: column;
            display: none;
            padding: 0;

            li {
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                text-align: center;

                a {
                    display: block;
                    padding: 0.6rem;
                    color: $white;
                    text-decoration: none;

                    &:hover {                       
                        background-color: rgb($teal-600, 1);
                    }
                }
            }

            &.active {
                display: flex;
            }

            @media (min-width: $breakpoint) {
                display: flex !important;
                position: static;
                flex-direction: row;
                text-align: left;
                margin: 0;
                padding: 0;

                li {
                    border: none;
                    margin: 0;

                    a {
                        padding: 0.6rem 1rem;

                        i {
                            display: inline;
                        }

                        &.active {
                            color: $white;
                        }
                    }

                    &.active {
                         background-color: rgb($orange-600, 1);
                        color: $white;
                    }
                }
            }
        }

        @media (min-width: $breakpoint) {
            margin: 0;
            padding: 0;
        }
    }

    @media (min-width: $breakpoint) {
        margin: 0;
    }

}