@use '../../styles/abstracts' as *;

$primary: #2c3e50;
$light: #ecf0f1;
$breakpoint: 768px;

#main-navbar {
  border: none;
  background-color: $primary;
  border-radius: 0;

  .navbar {
    border: none;
    background-color: $primary;
    color: $light;
    padding: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: $font-size-md;
    border-radius: 0;


    i {
      display: none;
    }

    &__brand {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 22px;
      width: 25px;
      background: none;
      border: none;
      cursor: pointer;

      .bar {
        height: 3px;
        width: 100%;
        background-color: lightgray;
        transition: all 0.3s ease;
      }

      @media (min-width: $breakpoint) {
        display: none;
      }
    }

    &__menu {
      list-style: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $primary;
      flex-direction: column;
      display: none;


      li {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        text-align: center;

        a {
          display: block;
          padding: 0.6rem;
          // color: $light;
          color: $light-neutral-font-color;
          text-decoration: none;

          &:hover {
            background-color: brown;
          }
        }
      }

      &.active {
        display: flex;
      }

      @media (min-width: $breakpoint) {
        display: flex !important;
        position: static;
        flex-direction: row;
        width: auto;

        li {
          border: none;

          a {
            padding: 0.6rem 1rem;

            i {
              display: inline;
            }

            &.active {
              color: $light-neutral-font-color;
            }
          }

          &.active {
            background-color: red;
            color: $light-neutral-font-color;
          }
        }
      }

    }

    @media (min-width: $breakpoint) {
      // border-radius: $spacing-xs;
      padding: 0rem;
    }
  }

}