@use '../../styles/abstracts' as *;

#pinned-weather-container {
    min-height: 290px;
    background-color: rgb($teal-100, 0.6);
    border-radius: $size-xxs - 2px;
    display: grid;
    grid-template-rows: 1fr 3fr;

    .device-locaton-container {
        border-bottom: 1px solid rgb($gray-400, 0.4);
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
        align-content: center;
    }

    .current-weather-container {
        
    }


}