@use '../../styles/abstracts' as *;

#pinned-weather-container {
    min-height: 290px;
    padding: 25px;
    background-color: rgb($blue-800, 0.3);
    //   background-image: url('../../../public/bg-desktop/8.jpg');
    //    background-position: 70%;
    display: grid;
    grid-template-rows: 1fr 3fr;
    border-radius: $size-xxs;

    .device-locaton-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 15px;
        align-content: center;

        .device-location-details {

            .location {
                border-radius: $size-xs - 4px;
            }
        }

        .search-form-container {
            align-content: center;
            justify-self: end;
        }
    }

    .current-weather-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;

        .weather-temp-section {
            font-size: $size-xxl + 40px;
        }

        .weather-icon-section {
            .weather-icon {
                display: flex;
                flex-direction: row;
                column-gap: 30px;
                justify-content: center;

                .icon {
                    font-size: $size-xxl + 55px;
                }

                .details {
                    padding: 20px 0;
                    text-transform: capitalize;

                    .description {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @include device-view-point("md") {
        // background-color: rgb($black, 0.4);
    }

    @include device-view-point("md-min") {

        .current-weather-container {
            grid-template-columns: 4fr 5fr;

            .weather-temp-section {
                font-size: $size-xxl + 25px;
            }

            .weather-icon-section {
                .weather-icon {
                    display: flex;
                    flex-direction: row;
                    column-gap: 30px;

                    .icon {
                        font-size: $size-xxl + 40px;
                    }

                    .details {
                        padding: 20px 0;
                        text-transform: capitalize;

                        .description {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    @include device-view-point("sm-max") {

        padding: 15px;
        grid-template-rows: 1fr;

        .device-locaton-container {
            padding: 0px;
        }

        .current-weather-container {
            grid-template-columns: 1fr;
            justify-items: center;

            .weather-temp-section {
                font-size: $size-xxl + 5px;
            }

            .weather-icon-section {
                text-align: center;

                .weather-icon {
                    display: flex;
                    flex-direction: column;

                    .icon {
                        font-size: $size-xxl + 10px;
                    }

                    .details {
                        display: flex;
                        flex-direction: row;
                        column-gap: 10px;

                        .little-details {
                            min-width: 100px;
                            padding: 5px 5px;
                            font-size: $size-xs;
                            border-radius: $size-xxs - 2px;
                            background-color: rgb($white, 0.2);
                        }

                        .description {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include device-view-point("sm-min") {

        .current-weather-container {

            .weather-icon-section {
                text-align: center;

                .weather-icon {
                    
                    .details {
                        display: flex;
                        flex-direction: row;
                        column-gap: 10px;

                        .little-details {
                            // border: 1px solid white;
                            min-width: 80px;
                            padding: 5px 5px;
                            font-size: $size-xs;
                            border-radius: $size-xxs - 2px;
                            background-color: rgb($white, 0.2);
                        }

                        .description {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}