@use '../../styles/abstracts' as *;

#pinned-weather-container {
    padding: 25px;

    background-color: rgb($blue-800, 0.3);
    background-image: url('../../../public/bg-desktop/88.jpg');
    background-size: cover;
    background-position: 50% 50%;
    color: $white;

    display: grid;
    grid-template-rows: 1fr 3fr;
    border-radius: $size-xs;

    .device-locaton-container {
        display: grid;
        grid-template-columns: 1fr;
        padding: 15px;
        align-content: center;

        .device-location-details {
            .location {
                cursor: pointer;

                .bi-geo-alt-fill {
                    border-radius: $size-xs - 3px;
                    background-color: rgb($indigo-900, 0.6);
                    color: $white;
                    padding: 5px 8px;
                    margin-right: 8px;
                }
            }
        }
    }

    .current-weather-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: center;

        .weather-temp-section {
            font-size: $size-xxl + 40px;
            padding-left: 15px;
        }

        .weather-icon-section {
            .weather-icon {
                display: flex;
                flex-direction: row;
                column-gap: 30px;
                justify-content: center;

                .icon {
                    font-size: $size-xxl + 55px;
                }

                .details {
                    padding: 20px 0;
                    text-transform: capitalize;

                    .description {
                        font-weight: bold;
                    }
                }
            }
        }
    }

    @include device-view-point("md-min") {

        .device-locaton-container {
            .device-location-details {
                .location {
                    max-width: 60%;
                }
            }
        }

        .current-weather-container {
            grid-template-columns: 4fr 5fr;

            .weather-temp-section {
                font-size: $size-xxl + 20px;
            }

            .weather-icon-section {
                .weather-icon {
                    display: flex;
                    flex-direction: row;
                    column-gap: 30px;

                    .icon {
                        font-size: $size-xxl + 20px;
                    }

                    .details {
                        padding: 20px 0;
                        text-transform: capitalize;

                        .description {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    @include device-view-point("sm-max") {
        grid-template-rows: 1fr;

        .device-locaton-container {
            padding: 0px;

            .device-location-details {
                .location {
                    background-color: transparent;
                    padding: 0;
                    text-align: left;
                    font-size: $size-sm - 2px;

                    .bi-geo-alt-fill {
                        border-radius: $size-xs - 3px;
                    }
                }
            }
        }

        .current-weather-container {
            grid-template-columns: 1fr;
            justify-items: center;

            .weather-temp-section {
                font-size: $size-xxl;
            }

            .weather-icon-section {
                text-align: center;
                margin-top: -10px;

                .weather-icon {
                    display: flex;
                    flex-direction: column;
                    //  border: 1px solid lightgray;

                    .icon {
                        font-size: $size-xxl + 5px;
                    }

                    .details {
                        display: flex;
                        flex-direction: row;
                        column-gap: 10px;
                        padding: 5px;

                        .little-details {
                            min-width: 100px;
                            padding: 5px 5px;
                            font-size: $size-xs;
                            border-radius: $size-xxs - 2px;
                            background-color: rgb($indigo-900, 0.6);
                        }

                        .description {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    @include device-view-point("sm-min") {
        .device-locaton-container {

            .device-location-details {
                .location {
                    font-size: $size-xs;

                    .bi-geo-alt-fill {
                        padding: 5px 8px;
                        margin-right: 3px;
                    }
                }
            }
        }

        .current-weather-container {
            .weather-icon-section {
                text-align: center;

                .weather-icon {
                    .details {
                        .little-details {
                            min-width: 80px;
                        }

                        .description {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}