@use '../../styles/abstracts' as *;


#scroll-up-btn {
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 10px 16px;
  font-size: 18px;
  border: none;
  border-radius: 14%;
  cursor: pointer;
  background-color: goldenrod;
  color: white;
  box-shadow: $light-hover-box-shadow;
  //  0 2px 6px rgba(0, 0, 0, 0.3);

}