<section id="site-grid" class="site-grid">
  <!-- navigation grid-area -->
  <section id="grid-area-navbar" class="grid-area-navbar">
    <app-navbar></app-navbar>
  </section>

  <!-- header grid-area -->
  <header id="grid-area-header" class="grid-area-header">
    <app-header></app-header>
  </header>

  <!-- pinned-weather grid-area -->
  <section id="grid-area-pinned-weather" class="grid-area-pinned-weather">
    <app-pinned-weather></app-pinned-weather>
  </section>

  <!-- main content grid-area -->
  <main id="grid-area-main" class="grid-area-main">
    <!-- 
    Only route items(components) to be displayed here 
    e.g. Home / About/ Contact/ etc 
    -->
    <router-outlet />
  </main>

  <!-- footer grid-area -->
  <footer id="grid-area-footer" class="grid-area-footer">
    <app-footer></app-footer>
  </footer>

  <app-scroll-up-btn></app-scroll-up-btn>
</section>
