<section id="header-container">
  <div class="site-identity" (click)="redirectToHome()">

    <span class="site-logo">
      <img
        class="logo-img"
        src="./logo/1.png"
        alt="logo images"
        title="View Site"
        loading="lazy"
      />
    </span>

    <div class="site-name">
      <div class="site-name-text">
        <span class="first-title-word">Geo</span>
        <span class="second-title-word"> weather</span>
      </div>

      <div class="site-description">Real-time weather update</div>
    </div>
    
  </div>
</section>
