<section id="header-container">
  <div class="site-identity" (click)="redirectToHome()">

    <span class="site-logo">
      <img
        class="logo-img"
        src="./logo/logo.png"
        alt="Geo Weather Logo"
        title="View Site"
        loading="lazy"
      />
    </span>

    <div class="site-name">
      <div class="site-name-text">
        <span class="first-title-word">Auto</span>
        <span class="second-title-word"> Deployment</span>
      </div>

      <div class="site-description">real-time updates</div>
    </div>
    
  </div>
</section>
