@use '../abstracts/variables' as *;
@use "sass:map";

// @import url('https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Jura:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Mono&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

//Reusable media queries the handles various breakpoints
@mixin respond-to($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  @else {
    @warn "No value found for breakpoint `#{$breakpoint}`.";
  }
}

@mixin theme-toggle-btn {

  /* Container for the toggle */
  .toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }

  /* Hide default checkbox */
  .toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The track */
  .slider {
    position: absolute;
    cursor: pointer;
    background-color: $light-primary-bg-color;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    transition: background-color 0.3s;

    &::before {
      content: "";
      position: absolute;
      height: 20px;
      width: 20px;
      left: 4px;
      bottom: 2px;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s;
    }
  }

  /* Toggled state */
  .toggle-switch input:checked+.slider {
    background-color: $light-default-font-color;
  }

  .toggle-switch input:checked+.slider::before {
    transform: translateX(26px);
  }
}

@mixin call-to-action-img-bg {
  background-color: $light-primary-bg-color;
  /* path to your image */
  background-size: cover;
  /* makes it fill the screen */
  background-position: center;
  /* centers the image */
  background-repeat: no-repeat;
  /* prevents tiling */
  margin: 0;
}

@mixin page-content-intro-hr {

  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 0 14em;
  font-size: $font-size-lg;
  margin: $spacing-sm;

  &::before,
  &::after {
    content: '';
    flex: 1;
  }

  &:not(:empty)::before {
    margin-right: 1.70em;
  }

  &:not(:empty)::after {
    margin-left: 1.70em;
  }


  @include respond-to("md") {

    padding: 0 18em;

    &:not(:empty)::before {
      margin-right: 1.60em;
    }

    &:not(:empty)::after {
      margin-left: 1.60em;
    }
  }

  @include respond-to("pro-sm") {

    padding: 0 14em;

    &:not(:empty)::before {
      margin-right: 1.60em;
    }

    &:not(:empty)::after {
      margin-left: 1.60em;
    }
  }

  @include respond-to("sm") {

    padding: 0 8em;

    &:not(:empty)::before {
      margin-right: 1.50em;
    }

    &:not(:empty)::after {
      margin-left: 1.50em;
    }
  }

  @include respond-to("pre-sm") {
    padding: 0 6em;

    &:not(:empty)::before {
      margin-right: 1.50em;
    }

    &:not(:empty)::after {
      margin-left: 1.50em;
    }
  }

  @include respond-to("pro-xs") {
    padding: 0 4em;
  }

  @include respond-to("xs") {

    padding: 0 3em;
    font-size: $font-size-sm + 4px;
    margin: $spacing-xs;

    &::before,
    &::after {
      border-bottom: none;
    }

  }

  @include respond-to("pre-xs") {
    padding: 0 2em;
  }

}


@mixin heading-light {
  text-transform: uppercase;
  background-color: $light-secondery-bg-color;
  border-radius: $spacing-xxs;
  padding: $spacing-xs $spacing-sm;
  font-weight: bold;
  margin-bottom: $spacing-xs + 2px;
}

@mixin heading-dark {
  background-color: rgba($dark-primary-bg-color, 0.2);
  color: $light-default-font-color;
}

@mixin button {
  padding: $spacing-xs - 1px $spacing-md;
  background-color: $light-primary-bg-color;
  border-radius: $spacing-xs - 1px;
  font-size: $font-size-xs;
  min-width: 70px;
  color: $light-neutral-font-color;
  cursor: pointer;

  &.git-btn {
    background-color: $dark-primary-bg-color;
  }

  &.detail-btn {
    color: $light-neutral-font-color;
    background-color: orangered;
  }

  &.view-btn {
    color: red;
  }

}

/*
  -------------------------  FONTS  FIRST PREF --------------------------
*/

@mixin global-font-jura {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
}

@mixin global-font-Ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: $font-size-sm + 1px;
  line-height: 1.5;
}

@mixin global-font-Ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;

}