/* ------------ LIGHT THEME COLORS ------------ */

/* -- FONT FAMILY -- */
$font-stack: 'Helvetica Neue', Arial, sans-serif;

/* -- FONT SIZES -- */
$font-size-xxs: 8px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 26px;
$font-size-xxl: 32px;

/* -- SPACING SIZES -- */
$spacing-xxs: 4px;
$spacing-xs: 6px;
$spacing-sm: 10px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

/* -- LIGHT FONT COLORS -- */
$light-neutral-font-color: #ffffff;
$light-default-font-color: #415a77;
$light-primary-font-color: #284b63;
$light-secondery-font-color: #778da9;
$light-tertiary-font-color: #e0e1dd;

/* -- LIGHT BACKGROUND COLORS -- */
$light-neutral-bg-color: #ffffff;
$light-primary-bg-color: #efefef;
$light-secondery-bg-color: #e9ecef;
$light-tertiary-bg-color: #778da9;

/* -- NEUTRAL COLORS -- */
$comp-default-font-color: #9b2226;
$error-color: red;

$dark-neutral-bg-color: #415a77;
$dark-primary-bg-color: #284b63;
$dark-secondery-bg-color: #12202e;

/* -- BOX-SHADOWS -- */
$light-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
$light-hover-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px;
$dark-box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 16px;
$dark-hover-box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 20px;


/* -- MEDIA QUERY BREAKPOINTS -- */
$breakpoints: (
  "pre-xs": 375px,
  "xs": 480px,
  "pro-xs": 550px,
  "pre-sm": 680px,
  "sm": 768px,
  "pro-sm": 920px,
  "md": 992px,
  "lg": 1200px,
  "xl": 1400px
);