@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

/* -- GLOBAL SIZES -- */
$size-xxs: 8px;
$size-xs: 12px;
$size-sm: 16px;
$size-md: 24px;
$size-lg: 28px;
$size-xl: 32px;
$size-xxl: 40px;

/* -- BREAKPOINTS - RESPONSIVE UI -- */
$max-widths: (
  "sm-min": 320px,
  "sm": 480px,
  "sm-max": 550px,
  
  "md-min": 680px,
  "md": 768px,
  "md-max": 920px,

  "lg-min": 992px,
  "lg": 1200px,
  "lg-max": 1400px
);

/* -- COLORS -- */
$font-color-default: $white;
$font-color-light: $gray-600;
$font-color-dark: $gray-100;

/* -- BOX-SHADOWS -- */
$light-box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
$light-hover-box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 20px;

$dark-box-shadow: rgba(255, 255, 255, 0.8) 0px 0px 16px;
$dark-hover-box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 20px;




