@use '../../styles/abstracts' as *;

.dark-theme {
    --bg-color: #0d1b2a;
    --text-color: #527588;

    .site-grid-container {
        background-color: var(--bg-color);
        color: var(--text-color);

        #site-identity {

            .site-contact-details {

                .contact-details {

                    .site-contact-text {
                        @include heading-dark;
                    }
                }

                .current-weather {
                    display: none;
                }
            }
        }

        #page-instroduction {
           @include call-to-action-img-bg;

            .page-description {
                color: $light-neutral-font-color;
            }

            .page-intro-buttons {
                button {
                    &.projects {

                          background-color: blueviolet;
                    }

                    &:hover {
                        background-color: $dark-primary-bg-color;
                    }

                    &.contact {

                        background-color: transparent;
                        border: 1px solid #e5e5e5;

                        &:hover {
                            background-color: red;
                            border-color: red;
                        }
                    }
                }
            }

        }

        #home-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .intro-container {
                padding: 18px 10%;
                border-radius: $spacing-sm;
                text-align: center;
                box-shadow: $dark-box-shadow;

                .developer-name {
                    font-size: $font-size-lg + 8px;
                    font-weight: bold;
                }

                .developer-title {
                    margin: -5px 4% 5px;
                    border-bottom: 0.1em solid rgb($light-default-font-color, 1);
                }

                .quick-links {
                    display: flex;
                    flex-direction: row;
                    column-gap: 20px;
                    justify-content: center;
                    margin: -5px 20% 5px;
                    border-bottom: 0.1em solid rgb($light-default-font-color, 1);
                    padding-bottom: 25px;


                    i {
                        font-size: 20px;
                        cursor: pointer;
                        padding: 5px 7px;
                        border-radius: 50px;
                        border: 0.1em solid rgb($light-default-font-color, 0.5);

                        &.bi-github,
                        &.bi-linkedin,
                        &.bi-whatsapp,
                        &.bi-envelope-fill {
                            color: rgba($light-default-font-color, 0.5);
                        }

                        &:hover {
                            box-shadow: $dark-hover-box-shadow;
                        }
                    }
                }

                .developer-skills-container {

                    .developer-skill {
                        background-color: rgba($dark-primary-bg-color, 0.4);
                        color: rgba($light-primary-bg-color, 0.3);

                        i {
                            color: rgba($light-primary-bg-color, 0.4);
                        }

                        &:hover {
                            background-color: $error-color;
                            color: $light-neutral-font-color;
                            // opacity: 0.7;

                            i {
                                color: $light-neutral-font-color;
                            }
                        }
                    }
                }

                .developer-intro {
                    margin: 5px 0;
                    line-height: 1.6;

                    .highlight {
                        font-weight: bold;
                        color: $light-default-font-color;
                    }

                    .read {
                        color: $comp-default-font-color;
                    }
                }
            }
            
            @include respond-to("pro-xs") {
                .intro-container {
                    padding: $spacing-sm $spacing-sm $spacing-lg $spacing-sm ;
                }
            }

            @include respond-to("xs") {

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }

                .page-content-intro-hr {
                    display: none;
                }

                .intro-container {
                    margin-top: 0;
                    padding: $spacing-lg $spacing-sm ;
                    box-shadow: $dark-box-shadow;

                    .developer-intro {
                        background-color: $dark-secondery-bg-color;
                    }

                    .intro-btn-container {
                        column-gap: 10px;

                        .intro-btn {
                            padding: 6px 15px;
                            max-width: 200px;
                        }
                    }
                }
            }
        }

        #about-page-main {
            margin-bottom: -5px;

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .about-content {
                border: none;
                gap: 10px;

                .about-container {
                    padding: $spacing-sm;
                    border-radius: $spacing-sm;

                    .set-heading {
                        @include heading-dark;
                    }

                    &:hover {
                        box-shadow: $dark-box-shadow;
                    }
                }
            }

            @include respond-to("xl") {

                .about-content {
                    padding: 0;
                    margin-bottom: 15px;
                }
            }

            @include respond-to("xs") {
                margin-bottom: -20px;

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }

                .about-content {
                    row-gap: 25px;

                    .about-container {
                        box-shadow: $dark-box-shadow;
                    }
                }
            }
        }

        #skils-set-page-main {

            margin-bottom: -5px;

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .sets-container {
                padding: 0;
                margin-bottom: 15px;
                gap: 10px;

                .set-container {
                    padding: $spacing-sm;
                    border-radius: $spacing-sm;

                    .heading {
                        @include heading-dark;
                    }

                    .set {
                        .skill {
                            @include heading-dark;
                            background-color: rgba(#12202e, 0.8);
                        }
                    }

                    &:hover {
                        box-shadow: $dark-box-shadow;
                    }
                }
            }

            @include respond-to("pre-sm") {
                .sets-container {
                    border: none;
                    margin-bottom: 15px;
                }
            }

            @include respond-to("xs") {
                margin-bottom: -20px;

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }

                .sets-container {
                    row-gap: 25px;

                    .set-container {
                        box-shadow: $dark-box-shadow;
                    }
                }
            }
        }

        #projects-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .project-details {
                border-radius: $spacing-sm;
                background-color: var(--bg-color);
                 box-shadow: $dark-box-shadow;

                .btn-grad:hover {
                    background-position: right center;
                    /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                }

                .btn-grad:hover {
                    background-position: right center;
                    /* change the direction of the change here */
                    color: #fff;
                    text-decoration: none;
                }

                .details-container {
                    text-align: left;

                    .heading {
                        @include heading-dark;
                    }
                }
            }

            .featured-projects {
                .project-container {

                    box-shadow: $dark-box-shadow;
                    border-radius: $spacing-xs;
                    border: none;

                    .project-details-container {
                        display: flex;
                        flex-direction: column;
                        row-gap: 2px;
                        text-align: left;

                        .project-name {
                            @include heading-dark;
                        }
                    }

                    &:hover {
                        box-shadow: $dark-hover-box-shadow;
                    }
                }
            }

            @include respond-to("pro-sm") {
                .project-details {
                    box-shadow: $dark-box-shadow;
                    border: none;
                }
            }

            @include respond-to("pro-xs") {
                .featured-projects {
                    .project-container {
                        box-shadow: $dark-box-shadow;
                        border-radius: $spacing-xs;
                        border: none;

                        .project-details-container {
                            text-align: center;

                            .project-view-btns {
                                justify-content: center;
                            }
                        }
                    }
                }
            }

            @include respond-to("xs") {
                margin-bottom: 0px;

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }

                .project-details {
                    .top-container {
                        .top-left-details {
                            text-align: center;
                        }

                        .top-right-details {
                            text-align: center;
                        }
                    }

                    .bottom-container {
                        .details-container {
                            text-align: center;
                        }
                    }
                }

                .featured-projects {
                    border: none;
                    margin-bottom: 15px;
                    row-gap: 10px;

                    .project-container {
                        .project-details-container {
                            text-align: left;

                            .project-view-btns {
                                justify-content: start;
                            }
                        }

                    }
                }

                .container {
                    margin: -15px 0;
                }
            }
        }

        #contact-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            .contact-form-container {
                box-shadow: $dark-box-shadow;
                padding: $spacing-sm;
                border-radius: $spacing-xs;

                form {
                    .contact-info {
                        fieldset {
                            border: 1px solid $light-default-font-color;

                            .icon {
                                color: rgb($light-default-font-color, 0.8);
                            }

                            .input-form-control {
                                background-color: rgba($dark-primary-bg-color, 0.1);
                                border: 1px solid $light-default-font-color;

                                &::placeholder {
                                    font-size: 12px;
                                    color: rgb($light-default-font-color, 0.4);
                                }

                                 &:focus-within {
                                border: 1px solid rgba($dark-primary-bg-color, 0.1);
                                outline: none;
                                box-shadow: $dark-box-shadow;

                                //hide on click
                                &::placeholder {
                                    color: transparent;
                                }
                            }
                            }
                        }
                    }
                }
            }

            @include respond-to("xs") {

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }
            }
        }

        #not-found-page-main {

            .page-content-intro-hr {

                &::before,
                &::after {
                    border-bottom: 1px solid $light-default-font-color;
                }
            }

            //standard local styles
            .not-found-content {

                box-shadow: $dark-box-shadow;
                border-radius: $spacing-sm;

                .not-found-container {

                    .heading {
                        margin-bottom: $spacing-xs + 4px;
                        @include heading-dark;
                    }


                    &:hover {
                        box-shadow: $light-hover-box-shadow;
                    }
                }
            }

            @include respond-to("xs") {

                .page-content-intro-hr {

                    &::before,
                    &::after {
                        border-bottom: none;
                    }
                }
            }
        }

        #footer {
            border-top: 1px solid $light-default-font-color;

            .footer-top-section {
                .whats-app-btn {
                    box-shadow: $dark-hover-box-shadow;
                }
            }

            .footer-item {
                .footer-item-title {
                    @include heading-dark;
                }

                color: $light-primary-font-color;

                ul {
                    li {

                        a {
                            &:hover {
                                color: $comp-default-font-color;
                            }
                        }
                    }
                }

            }

            .footer-bottom-section {
                @include heading-dark;
            }

            @include respond-to("xs") {
                border-top: none;
            }
        }
    }
}