@use '../abstracts' as *;

#about-page-main {

    display: flex;
    row-gap: 20px;
    flex-direction: column;

    .page-name {
        @include page-name;
    }

    .page-content {
        .project-details {
            display: flex;
            flex-direction: column;
            row-gap: 25px;
            // padding: 10px;

            .section-contributions,
            .section-teck-stack {
                border-radius: $size-xxs;
                background-color: rgb($gray-400, 0.2);
                padding: 20px;

                .heading {
                    @include heading-2;
                    border-bottom: 1px solid rgb($gray-400, 0.5);
                }

                article {
                    padding-top: 15px;
                    font-size: $size-sm - 3px;

                    p {
                         font-size: $size-sm + 1px;
                    }
                }
            }

            .section-teck-stack {
                
                article {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 15px;
                    margin-top: 5px;

                    .tech-item {
                        display: inline;
                        padding: 5px 15px;
                        background-color: rgb($gray-400, 0.2);
                        border-radius: $size-xxs - 1px;

                        i {
                            padding-right: 7px;
                        }
                    }
                }
            }
        }
    }

    @include device-view-point("md-min") {
        .page-content {
            .project-details {
                grid-template-columns: 1fr;
            }
        }
    }

    @include device-view-point("sm-max") {

        .page-name {
            margin: 10px 0 0;
            text-align: center;
        }

        .page-content {

            .project-details {
                grid-template-columns: 1fr;
                         text-align: center;

                    .section-teck-stack {
                        display: none;
                        article {
                            justify-content: center;
                        }
                    }
                
            }
        }
    }
}