@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

#about-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 15px;

    //hr line styles
    .page-content-intro-hr {
        @include page-content-intro-hr;

        &::before,
        &::after {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    .cards-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        // column-gap: 30px;
        justify-content: space-around;
        padding: $spacing-md 0;

        margin: 0px 10%;
        border-bottom: 0.1em solid rgb(#e5e5e5, 1);

        .card-container {
            display: flex;
            flex-direction: column;
            row-gap: 18px;
            padding: $spacing-sm;

            .card-icon {

                i {
                    // font-size: $font-size-xxl;
                    background-color: $light-secondery-bg-color;
                    color: $error-color;
                    font-size: 28px;
                    cursor: pointer;
                    padding: 16px 19px;
                    border-radius: 50px;


                    &:hover {
                        box-shadow: $light-hover-box-shadow;
                        background-color: $dark-primary-bg-color;
                        color: $light-neutral-font-color;
                    }
                }
            }

            .card-title {
                font-size: $font-size-md;
                font-weight: bold
            }
        }
    }

    //standard local styles
    .about-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        text-align: left;

        .about-container {

            border: none;
            padding: $spacing-sm $spacing-sm ;
            cursor: pointer;
            padding: $spacing-sm;
            border-radius: $spacing-xs;

            .set-heading {
                margin-bottom: $spacing-xs + 4px;
                @include heading-light;
            }

            .set-container {
                padding: 4px $spacing-sm;
                font-size: $font-size-sm + 2px;

                i {
                    padding-right: 3px;
                    color: brown;
                }
            }

            .btn-container {
                .explore {
                    display: none;
                    margin: $spacing-md 0;
                }
            }

            &:hover {
                box-shadow: $light-box-shadow;
            }
        }
    }

    @include respond-to("pro-xs") {
        .cards-container {
            padding: $spacing-sm - 2px 0;
            margin: 0px 8%;

            .card-container {

                .card-icon {

                    i {
                        // font-size: $font-size-xxl;
                        background-color: $light-secondery-bg-color;
                        font-size: 18px;
                        cursor: pointer;
                        padding: 15px 19px;
                        border-radius: 50px;
                        // border: 0.1em solid rgb(#e5e5e5, 1);
                    }
                }

                .card-title {
                    font-size: $font-size-sm + 2px;
                }
            }
        }
    }

    @include respond-to("xs") {
        margin-bottom: -10px;

        //hr line styles
        .page-content-intro-hr {

            &::before,
            &::after {
                border-bottom: none
            }
        }

        .cards-container {
            // padding: 4px 0 8px;
            margin: 0px 6%;

            .card-container {
                row-gap: 25px;
                .card-icon {

                    i {
                        background-color: $light-secondery-bg-color;
                        font-size: 20px;
                        cursor: pointer;
                        padding: 17px 20px;
                        border-radius: 50px;
                        // border: 0.1em solid rgb(#e5e5e5, 1);
                    }
                }

                .card-title {
                    font-size: $font-size-sm;
                }
            }
        }

        .about-content {
            grid-template-columns: 1fr;
            row-gap: 15px;
            padding: 0;
            text-align: center;

            .about-container {
                text-align: center;
                box-shadow: $light-box-shadow;

                &.background,
                &.portfolio {
                    display: none;
                }

                i {
                    display: none;
                }

                .btn-container {
                    text-align: center;
                    font-size: $font-size-xs;
                    margin-bottom: $spacing-xs;

                    .explore {
                        display: block;
                        text-transform: uppercase;
                        padding: $spacing-sm - 2px;
                        background-color: $error-color;
                        margin: $spacing-sm 25% -5px;
                        border-radius: $spacing-xs;
                        color: $light-neutral-font-color;
                    }
                }
            }
        }
    }
}