@use '../../styles/abstracts' as *;

#not-found-page-main {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin-bottom: 15px;

    //hr line styles
    .page-content-intro-hr {
        @include page-content-intro-hr;

        &::before,
        &::after {
            border-bottom: 1px solid #e5e5e5;
        }
    }

    //standard local styles
    .not-found-content {
        .not-found-container {
            border: none;
            padding: $spacing-sm $spacing-sm ;
            cursor: pointer;
            text-align: center;
            // box-shadow: $light-box-shadow;
            border-radius: $spacing-xs;

            .heading {
                margin-bottom: $spacing-xs + 4px;
                @include heading-light;
            }

            .content {
                padding: $spacing-sm;
                font-size: $font-size-sm + 2px;

                .btn-container {
                    font-size: $font-size-xs + 1px;
                    margin-top: $spacing-sm;
                    justify-items: center;

                    .contact {
                        text-transform: uppercase;
                        padding: $spacing-sm - 2px;
                        background-color: $error-color;
                        margin-top: $spacing-sm;
                        width: 190px;
                        border-radius: $spacing-xs;
                        color: $light-neutral-font-color;
                    }
                }
            }

            &:hover {
                box-shadow: $light-box-shadow;
            }
        }
    }

    @include respond-to("xs") {
        margin-bottom: -10px;

        .page-content-intro-hr {

            &::before,
            &::after {
                border-bottom: none;
            }
        }
    }
}