@use '../abstracts' as *;

#home-page-main {

  display: flex;
  row-gap: 35px;
  flex-direction: column;

  .page-name {
    @include page-name;
  }

  .page-content {

    .week-weather {
      .weather-cards {
        display: grid;
        gap: 35px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;

        .weather-card {
          padding: 15px;
          box-shadow: $light-box-shadow;
          border-radius: $size-xxs;
          cursor: pointer;
          display: flex;
          flex-direction: column;

          &:hover {
            box-shadow: $light-box-shadow;
            cursor: pointer;
          }

          .card-item {

            &.card-header {
              border-bottom: 1px solid rgb($gray-400, 0.5);
              padding: 10px 0;
              font-weight: bold;


              i {
                margin-right: 5px;
              }

              .date {
                font-weight: normal;
                border-left: 1px solid rgb($gray-400, 0.8);
                padding-left: 8px;
                margin-left: 5px;
              }
            }

            &.weather-details-container {
              display: grid;
              grid-template-columns: 1fr 1fr;
              column-gap: 10px;
              padding: 15px 0 0;
              align-items: center;

              .weather-symbol {
                text-align: center;
                border-radius: $size-xxs - 1px;
                padding: 6px;

                .weather-icon {
                  i {
                    font-size: $size-lg + 10px;
                    color: orangered;
                  }

                  .weather-desc {
                    font-weight: bold;
                  }
                }
              }

              .weather-value {
                display: flex;
                flex-direction: column;
                row-gap: 12px;

                .weather-item {
                  padding: 7px 15px;
                  background-color: rgb($gray-400, 0.2);
                  border-radius: $size-xxs - 2px;
                }
              }
            }
          }
        }
      }
    }
  }

  @include device-view-point("md") {
    .page-content {
      .week-weather {
        .weather-cards {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  @include device-view-point("sm-max") {

    .page-name {
      margin: 10px 0 0;
      padding: 0 0 25px;
      border-bottom: 1px solid rgb($gray-400, 0.5);
      border-left: none;
      text-align: center;
    }

    .page-content {
      .week-weather {
        .weather-cards {

          grid-template-columns: 1fr 1fr 1fr;
          border-radius: $size-xxs - 2px;
          padding: 0px;
          gap: 15px;

          .weather-card {

            .card-header {
              text-align: center;
              font-weight: normal;
              font-size: $size-sm;

              .date {
                display: none;
              }
            }

            .card-item {
              justify-items: center;
              font-size: $size-sm - 2px;

              &.weather-details-container {
                grid-template-columns: 1fr;
                padding-top: 5px;

                .weather-symbol {
                  background-color: transparent;

                  .weather-desc {
                    display: none;
                  }
                }

                .weather-value {
                  .weather-item {
                    text-align: center;
                    padding: 7px 15px;
                    min-width: 70px;
                  }
                }

                .weather-humid {
                  display: none;
                }

                .weather-temp {
                  .bi {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}