@use '../abstracts' as *;

#home-page-container {

  display: flex;
  row-gap: 15px;
  flex-direction: column;

  .page-name {
    text-transform: uppercase;
    margin: 15px 0;
    padding: 20px 0 0 5px;
  }

  .page-content {

    .week-weather {
      .weather-cards {

        display: grid;
        column-gap: 15px;
        row-gap: 25px;
        grid-template-columns: 1fr 1fr 1fr;

        .weather-card {
          padding: 10px;
          background-color: rgb($white, 0.4);
          font-size: $size-xs;
          border-radius: $size-xxs - 2px;

          display: flex;
          flex-direction: column;
          row-gap: 10px;

          .card-item {
            i {
              margin-right: 5px;
            }

            &.card-header {
              border-bottom: 1px solid rgb($gray-400, 0.4);
              padding: 10px 0;
              
            }

            &.weather-details-container {
              display: grid;
              grid-template-columns: 1fr 2fr 3fr;
              padding: 10px 0;
            }

            &.card-btn-container {
              .details-btn {
                text-transform: capitalize;
                background-color: rgb($teal-300, 0.3);
                border-radius: $size-xxs - 4px;
                max-width: 100px;
                padding: 5px 7px;
                text-align: center;
                cursor: pointer;

                &:hover {
                  background-color: rgb($yellow-600, 1);
                }
              }
            }

          }
        }
      }
    }


  }

}