@use '../abstracts' as *;

#home-page-container {

  display: flex;
  row-gap: 15px;
  flex-direction: column;


  .page-name {
    text-transform: uppercase;
    margin: 30px 0 0;
    padding: 10px;
    border-left: 14px solid rgb($red, 1);
     background-color: rgb($blue-800, 0.3);
  }

  .page-content {
    .week-weather {
      .weather-cards {

        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;

        .weather-card {

          padding: 10px;
          background-color: rgb($white, 0.4);
          font-size: $size-xs;
          // border-radius: $size-xxs - 2px;

          display: flex;
          flex-direction: column;

          &:hover {
            background-color: rgb($white, 0.3);
            cursor: pointer;
          }

          .card-item {

            &.card-header {
              border-bottom: 1px solid rgb($gray-400, 0.4);
              padding: 10px 0;

              i {
                margin-right: 5px;
              }
            }

            &.weather-details-container {
              display: grid;
              grid-template-columns: 1fr 2fr 2fr 1fr;
              column-gap: 10px;
              padding: 10px 0;
              font-size: $size-sm;
              align-items: center;
                             
              .weather-icon {
                font-size: $size-md;
              }

              // .weather-icon, .weather-temp, .weather-humid, .weather-desc {
                
              // }
            }

            &.card-btn-container {
              .details-btn {
                text-transform: capitalize;

                background-color: rgb($cyan-900, 0.3);
                border-radius: $size-xxs - 4px;
                max-width: 80px;
                padding: 5px 8px;
                text-align: center;
                cursor: pointer;
                border: none;

                &:hover {
                  background-color: rgb($yellow-500, 0.6);
                }
              }
            }
          }
        }
      }
    }
  }

  @include device-view-point("md") {
    .page-content {
      .week-weather {
        .weather-cards {
          gap: 15px;
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  @include device-view-point("sm-max") {
    .page-content {
      .week-weather {

        .weather-cards {

          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          justify-content: space-around;
          border-radius: $size-xxs - 2px;
          padding: 0px;
           gap: 10px;

          .weather-card {
           background-color: rgb($white, 0.4);
           cursor: pointer;

            .card-header {
              text-align: center;
            }

            .card-item {
              justify-items: center;


              &.weather-details-container {
                grid-template-columns: 1fr;


                .weather-humid,
                .weather-desc {
                  display: none;
                }

                .weather-temp {
                  .bi {
                    display: none;
                  }
                }

              }

              &.card-btn-container {
                display: none;
              }
            }
          }
        }
      }
    }
  }

}