@use '../abstracts' as *;

#home-page-main {

  display: flex;
  row-gap: 15px;
  flex-direction: column;

  .page-name {
    text-transform: uppercase;
    margin: 30px 0 0;
    font-weight: bold;
    padding: 10px 12px;
    background-color: rgb($gray-400, 0.2);
    border-radius: $size-xxs;
  }

  .page-content {
    .week-weather {
      .weather-cards {

        display: grid;
        gap: 25px;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;

        .weather-card {
          padding: 15px;
          background-color: rgb($gray-400, 0.2);
          font-size: $size-xs;
          border-radius: $size-xxs;
          cursor: pointer;

          display: flex;
          flex-direction: column;

          &:hover {
            box-shadow: $light-box-shadow;
            cursor: pointer;
          }

          .card-item {

            &.card-header {
              border-bottom: 1px solid rgb($gray-400, 0.5);
              padding: 10px 0;
              font-weight: bold;

              i {
                margin-right: 5px;
              }
            }

            &.weather-details-container {
              display: grid;
              grid-template-columns: 1fr 2fr 2fr 1fr;
              column-gap: 10px;
              padding: 10px 0;
              font-size: $size-sm;
              align-items: center;

              .weather-icon {
                font-size: $size-md;
              }
            }

            &.card-btn-container {
              
              .details-btn {
                text-transform: capitalize;
                background-color: rgb($teal-500, 0.2);
                border-radius: $size-xxs - 4px;
                max-width: 80px;
                padding: 5px 8px;
                text-align: center;
                color: rgb(#0d1b2a, 0.4);
                cursor: pointer;
                border: none;

                &:hover {
                  background-color: rgb(#0d1b2a, 1);
                  color: rgb($teal-200, 0.8);

                }
              }
            }
          }
        }
      }
    }
  }

  @include device-view-point("md") {
    .page-content {
      .week-weather {
        .weather-cards {
          grid-template-columns: 1fr 1fr;
        }
      }
    }
  }

  @include device-view-point("sm-max") {

    .page-name {
      margin: 20px 0 0;
    }

    .page-content {
      .week-weather {
        .weather-cards {

          grid-template-columns: 1fr 1fr 1fr;
          border-radius: $size-xxs - 2px;
          padding: 0px;
          gap: 20px;

          .weather-card {
            .card-header {
              text-align: center;
            }

            .card-item {
              justify-items: center;
              
              &.weather-details-container {
                grid-template-columns: 1fr;

                .weather-humid,
                .weather-desc {
                  display: none;
                }

                .weather-temp {
                  .bi {
                    display: none;
                  }
                }
              }

              &.card-btn-container {
                display: none;
              }
            }
          }
        }
      }
    }
  }

}