<section id="about-page-main">
  <article class="page-name">project details</article>

  <article class="page-content">
    <div class="section-description">
      In summary, an Angular weather app serves as a dynamic, component-based
      user interface that consumes raw weather data from an API and presents it
      in a clear, interactive, and user-friendly manner.
    </div>
    <div class="section-contributions">
      In summary, an Angular weather app serves as a dynamic, component-based
      user interface that consumes raw weather data from an API and presents it
      in a clear, interactive, and user-friendly manner.
    </div>
    <div class="section-teck-stack">
      In summary, an Angular weather app serves as a dynamic, component-based
      user interface that consumes raw weather data from an API and presents it
      in a clear, interactive, and user-friendly manner.
    </div>
  </article>
</section>
