<section id="about-page-main">
  <article class="page-name">project description</article>

  <article class="page-content">
    <div class="section-cards">
      <div class="cards-container">
        <div class="card">
          <div class="card-icon">
            <i class="bi bi-phone"></i>
          </div>
          <div class="card-title">Responsive UI Design</div>
          <div class="card-desc">
            Responsive, scalable, and user-friendly Single-Page applications
          </div>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="bi bi-code-slash"></i>
          </div>
          <div class="card-title">Angular 19 Framework</div>
          <div class="card-desc">
            JavaScrip framework for building Single-Page applications
          </div>
        </div>
        <div class="card">
          <div class="card-icon">
            <i class="bi bi-plug"></i>
          </div>
          <div class="card-title">RESTful API Integration</div>
          <div class="card-desc">
            Integrated with real-time weather data, based on device geo-location
          </div>
        </div>
      </div>
    </div>

    <div class="project-details">
      <div class="section-contributions">
        <div class="heading">Contributions</div>
        <article>
           <p>A real-time weather application developed using Angular 19
          framework, and other wed development technologies, integrated with open API and geo-location API, that are used to determine the weather information to be displayed.</p>
        </article>
      </div>
      <div class="section-teck-stack">
        <div class="heading">Tech Stack</div>
        <article>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>HTML5</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>SCSS</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>CSS</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Bootstrap</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>RxJs Library</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Responsive UI Design</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>JavaScript</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Angular 19 Framework</span>
          </div>
          
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Weather API</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Unit Testing</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Git and GitHub</span>
          </div>

          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>GitHub Page</span>
          </div>
        </article>
      </div>
    </div>
  </article>
</section>
