<section id="about-page-main">
  <article class="page-name">
    About
  <app-share-btn
      [title]="'Current Weather Forecast'"
      [url]="'https://mystackbox.github.io/prj-weather/home'"
    >
    </app-share-btn>
  </article>

  <article class="page-content">

    <div class="project-details">
      <div class="section-contributions">
        <div class="heading">Description</div>
        <article>
           <p>A real-time weather application developed using Angular 19
          framework and other wed development technologies, integrated with a public Weather API and geo-location API. The application uses device's current geolocation to fetch the weather information of a specific location area.</p>
        </article>
      </div>
      <div class="section-teck-stack">
        <div class="heading">Stack</div>
        <article>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>HTML5</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>SCSS Framework</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>CSS</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Bootstrap Framework</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>RxJs Library</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Responsive UI Design</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>JavaScript</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Angular 19</span>
          </div>
          
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>RESTful API - JSON</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Unit Testing</span>
          </div>
          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>Git & GitHub</span>
          </div>

          <div class="tech-item">
            <i class="bi bi-check-circle-fill"></i> <span>GitHub Page</span>
          </div>
        </article>
      </div>
    </div>
  </article>
</section>
