<section id="pinned-weather-container">
  <div class="device-locaton-container">
    <div class="device-location-details">
      <div class="location">
        <i class="bi bi-geo-alt-fill"></i>
        Fourways (ZA)
      </div>
    </div>

    <div class="search-form-container"><i class="bi bi-search"></i> Search</div>
  </div>

  <div class="current-weather-container">
    <div class="weather-temp-section">
      <div class="weather-temp">
        <div class="temperature">16°C</div>
      </div>
    </div>

    <div class="weather-icon-section">
      <div class="weather-icon">
        <div class="icon">
          <i class="bi bi-cloud-lightning-rain"></i>
        </div>

        <div class="details">
          <div class="little-details description">partly cloudy</div>
          <div class="little-details humidity">
            <i class="bi bi-droplet-half"></i> 11%
          </div>
          <div class="little-details wind-speed">
            <i class="bi bi-wind"></i> 3km/h
          </div>
          <div class="little-details pressure">
            <i class="bi bi-flask-florence"></i> 10.2 mb
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
