<section id="home-page-container">
  <article class="page-name"> forecast updates</article>

  <article class="page-content">
    <div class="week-weather">
      <div class="weather-cards">
        <div class="weather-card">
          <div class="card-item card-header">
            <i class="bi bi-calendar-minus"></i>
            MON
          </div>
          <div class="card-item weather-details-container">
            <div class="card-item weather-icon"><i class="bi bi-cloud-moon"></i></div>
            <div class="card-item weather-temp"><i class="bi bi-thermometer-half"></i> 16°C</div>
            <div class="weather-item weather-humid"><i class="bi bi-droplet-half"></i> 9%</div>
            <div class="card-item weather-desc">Desc</div>
          </div>

          <div class="card-item card-btn-container">
            <div class="details-btn">
              details <i class="bi bi-chevron-right"></i>
            </div>
          </div>
        </div>

        <div class="weather-card">
          <div class="card-item card-header">
            <i class="bi bi-calendar-minus"></i>
            TUE
          </div>
          <div class="card-item weather-details-container">
            <div class="card-item weather-icon"><i class="bi bi-brightness-low"></i></div>
            <div class="card-item weather-temp"><i class="bi bi-thermometer-half"></i> 16°C</div>
           <div class="weather-item weather-humid"><i class="bi bi-droplet-half"></i> 9%</div>
            <div class="card-item weather-desc">Desc</div>
          </div>

          <div class="card-item card-btn-container">
            <div class="details-btn">
              details <i class="bi bi-chevron-right"></i>
            </div>
          </div>
        </div>

        <div class="weather-card">
          <div class="card-item card-header">
            <i class="bi bi-calendar-minus"></i>

            WED
          </div>
          <div class="card-item weather-details-container">
            <div class="card-item weather-icon"><i class="bi bi-cloud-lightning-rain"></i></div>
            <div class="card-item weather-temp"><i class="bi bi-thermometer-half"></i> 16°C</div>
            <div class="weather-item weather-humid"><i class="bi bi-droplet-half"></i> 9%</div>
            <div class="card-item weather-desc">Desc</div>
          </div>

          <div class="card-item card-btn-container">
            <div class="details-btn">
              details <i class="bi bi-chevron-right"></i>
            </div>
          </div>
        </div>

        <div class="weather-card">
          <div class="card-item card-header">
            <i class="bi bi-calendar-minus"></i>
            THU
          </div>
          <div class="card-item weather-details-container">
            <div class="card-item weather-icon"><i class="bi bi-brightness-high"></i></div>
            <div class="card-item weather-temp"><i class="bi bi-thermometer-half"></i> 16°C</div>
            <div class="weather-item weather-humid"><i class="bi bi-droplet-half"></i> 9%</div>
            <div class="card-item weather-desc">Desc</div>
          </div>

          <div class="card-item card-btn-container">
            <div class="details-btn">
              details <i class="bi bi-chevron-right"></i>
            </div>
          </div>
        </div>

        <div class="weather-card">
          <div class="card-item card-header">
            <i class="bi bi-calendar-minus"></i>
            FRI
          </div>
          <div class="card-item weather-details-container">
            <div class="weather-item weather-icon"><i class="bi bi-cloud-sun"></i></div>
            <div class="weather-item weather-temp"><i class="bi bi-thermometer-half"></i> 16°C</div>
           <div class="weather-item weather-humid"><i class="bi bi-droplet-half"></i> 9%</div>
            <div class="weather-item weather-desc">Desc</div>
          </div>

          <div class="card-item card-btn-container">
            <div class="details-btn">
              details <i class="bi bi-chevron-right"></i>
            </div>
          </div>
        </div>

        <div class="weather-card">
          <div class="card-item card-header">
            <i class="bi bi-calendar-minus"></i>
            SAT
          </div>
          <div class="card-item weather-details-container">
            <div class="weather-item weather-icon"><i class="bi bi-cloud-drizzle"></i> </div>
            <div class="weather-item weather-temp"><i class="bi bi-thermometer-half"></i> 16°C</div>
            <div class="weather-item weather-humid"><i class="bi bi-droplet-half"></i> 9%</div>
            <div class="weather-item weather-desc">Desc</div>
          </div>

          <div class="card-item card-btn-container">
            <div class="weather-item details-btn">
              details <i class="bi bi-chevron-right"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
