<section id="home-page-container"> 
    <article class="page-name">
        weather updates
    </article>

    <article class="page-content">
        <div class="weekly-weather-list">
            <div class="list-item-container">
                <i class="bi bi-calendar-minus"></i>
                 MONDAY
            </div>

             <div class="list-item-container">
                <i class="bi bi-calendar-minus"></i>
                 TUESTDAY
            </div>

             <div class="list-item-container">
                <i class="bi bi-calendar-minus"></i>
                 WEDNESDAY
            </div>

             <div class="list-item-container">
                <i class="bi bi-calendar-minus"></i>
                 THURSDAY
            </div>

             <div class="list-item-container">
                <i class="bi bi-calendar-minus"></i>
                 FRIDAY
            </div>

             <div class="list-item-container">
                <i class="bi bi-calendar-minus"></i>
                 SATURDAY
            </div>
        </div>
    </article>
</section>