<section id="home-page-container">
  <article class="page-name">weather forecast</article>

  <article class="page-content">
    <div class="week-weather">
    <div class="weather-cards">

      <div class="weather-card">
        <div class="card-item card-header">
          <i class="bi bi-calendar-minus"></i>
          MONDAY
        </div>
        <div class="card-item weather-details-container">
          <div class="card-item">Icon</div>
          <div class="card-item">Min/Max</div>
          <div class="card-item">Desc</div>
        </div>

        <div class="card-item card-btn-container">
            <div class="details-btn">
                details <i class="bi bi-chevron-right"></i>
            </div>
        </div>
      </div>

      <div class="weather-card">
        <div class="card-item card-header">
          <i class="bi bi-calendar-minus"></i>
          TUESTDAY
        </div>
        <div class="card-item weather-details-container">
          <div class="card-item">Icon</div>
          <div class="card-item">Min/Max</div>
          <div class="card-item">Desc</div>
        </div>

        <div class="card-item card-btn-container">
            <div class="details-btn">
                details <i class="bi bi-chevron-right"></i>
            </div>
        </div>
      </div>

      <div class="weather-card">
        <div class="card-item card-header">
          <i class="bi bi-calendar-minus"></i>
          
          WEDNESDAY
        </div>
        <div class="card-item weather-details-container">
          <div class="card-item">Icon</div>
          <div class="card-item">Min/Max</div>
          <div class="card-item">Desc</div>
        </div>

        <div class="card-item card-btn-container">
            <div class="details-btn">
                details <i class="bi bi-chevron-right"></i>
            </div>
        </div>
      </div>

      <div class="weather-card">
        <div class="card-item card-header">
          <i class="bi bi-calendar-minus"></i>
          THURSDAY
        </div>
        <div class="card-item weather-details-container">
          <div class="card-item">Icon</div>
          <div class="card-item">Min/Max</div>
          <div class="card-item">Desc</div>
        </div>

        <div class="card-item card-btn-container">
            <div class="details-btn">
                details <i class="bi bi-chevron-right"></i>
            </div>
        </div>
      </div>

      <div class="weather-card">
        <div class="card-item card-header">
          <i class="bi bi-calendar-minus"></i>
          FRIDAY
        </div>
        <div class="card-item weather-details-container">
          <div class="card-item">Icon</div>
          <div class="card-item">Min/Max</div>
          <div class="card-item">Desc</div>
        </div>

        <div class="card-item card-btn-container">
            <div class="details-btn">
                details <i class="bi bi-chevron-right"></i>
            </div>
        </div>
      </div>

      <div class="weather-card">
        <div class="card-item card-header">
          <i class="bi bi-calendar-minus"></i>
          SATURDAY
        </div>
        <div class="card-item weather-details-container">
          <div class="card-item">Icon</div>
          <div class="card-item">Min/Max</div>
          <div class="card-item">Desc</div>
        </div>

        <div class="card-item card-btn-container">
            <div class="details-btn">
                details <i class="bi bi-chevron-right"></i>
            </div>
        </div>
      </div>

    </div>
    </div>
  </article>
</section>
