@use '../abstracts' as *;

body {
    @include global-font-sora;
    color: $font-color-default;
    font-size: $size-sm;
    background-color: $white;

    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}